<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - H.I.C.S.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("H.I.C.S", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <!--ADMIN TAB-->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle media" type="button" data-toggle="dropdown">Admin <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>Rooms</li>
                                <li>@Html.ActionLink("Buildings", "Index", "Buildings")</li>
                                <li>@Html.ActionLink("Rooms", "Index", "Rooms")</li>
                                <li>@Html.ActionLink("RoomTypes", "Index", "RoomTypes")</li>
                                <li>Employees</li>
                                <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                                <li>@Html.ActionLink("EmployeeTypes", "Index", "EmployeeTypes")</li>
                                <li>@Html.ActionLink("EmployeeShifts", "Index", "EmployeeShifts")</li>
                                <li>Maintainance</li>
                                 <li>@Html.ActionLink("MaintenanceLogs", "Index", "MaintenanceLogs")</li>
                                <li>@Html.ActionLink("MaintenanceTypes", "Index", "MaintenanceTypes")</li>
                                <li>Expences</li>
                                <li>@Html.ActionLink("ExpenseTypes", "Index", "ExpenseTypes")</li>

                            </ul>
                        </div>
                    </li><!--ADMIN TAB-->
                    <li>
                        <!--Employee TAB-->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle media" type="button" data-toggle="dropdown">Employee <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>Customers</li>
                                <li>@Html.ActionLink("Bookings", "Index", "Bookings")</li>
                                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                                <li>@Html.ActionLink("Expenses", "Index", "Expenses")</li>
                                <li>@Html.ActionLink("Null", "Index", "Null")</li>
                                <li>@Html.ActionLink("Null", "Index", "Null")</li>
                                <li>@Html.ActionLink("Null", "Index", "Null")</li>

                            </ul>
                        </div>
                    </li><!--Employee TAB-->
                    <li>
                        <!--HouseKeeping-->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle media" type="button" data-toggle="dropdown">Maid Service <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("HouseKeeping", "Index", "HouseKeeping")</li>
                            </ul>
                        </div>
                    </li><!--HouseKeeping TAB-->
                    <li>
                        <!--Maintainance TAB-->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle media" type="button" data-toggle="dropdown">Maintainance <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Null", "Index", "Null")</li>
                                <li>@Html.ActionLink("Null", "Index", "Null")</li>
                            </ul>
                        </div>
                    </li><!--Maintainance TAB-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - H.I.C.S</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
