@model IEnumerable<HotelIntegratedComputerSystems.Models.HouseKeepingViewModel>
@Scripts.Render("~/Scripts/FilterByColumns.js")

@{
    ViewBag.Title = "Index";
}


<h2>HouseKeeping</h2>

<head>

    <script>

        $(document).ready(function () {
            $('#table').DataTable();
        });

    </script>

</head>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Rooms</h3>
        
    </div>

    <div class="panel-body">
        <input type="text" id="myInput" onkeyup="filterFunction6Column()" class="form-control" data-action="filter" placeholder="Filter Rooms" />
    </div>

    <table class="table table-hover" id="dev-table">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BuildingName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FloorNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomBedding)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HousekeepingCleanStatus)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RoomStatusDescription)
                </th>
                <th>
                    Change Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FloorNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomBedding)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HousekeepingCleanStatus)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RoomStatusDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Clean", "Clean", new { id = item.Id }) |
                        @Html.ActionLink("Dirty", "Dirty", new { id = item.Id }) |
                        @Html.ActionLink("DND", "Dnd", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>  
</div>