@model HotelIntegratedComputerSystems.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseKeepingStatu.CleanStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseKeepingStatu.CleanStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType.Bedding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType.Bedding)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
