@model IEnumerable<HotelIntegratedComputerSystems.Models.Admin.EmployeeViewModel>
@Scripts.Render("~/Scripts/FilterByColumns.js")
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Employees</h3>
    </div>
    <input type="text" id="myInput" onkeyup="filterFunction5Column()" class="form-control" data-action="filter" placeholder="Filter Employees" />
    <table class="table table-hover" id="dev-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeTypeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeTypeTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
</div>