@model HotelIntegratedComputerSystems.Models.EmployeeShift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeShift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClockIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClockIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClockOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClockOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashTakeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashTakeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashPutInSafe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashPutInSafe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
