@model HotelIntegratedComputerSystems.Models.RoomType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bedding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kitchen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kitchen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SleepsVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleepsVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NightlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightlyRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
